#buildingPage {
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background-color: #edf1f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .header {
    height: 10%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .leftHead {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 0.2;
    }
    .centerHead {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 0.6;
    }
    .buyDiv,
    .rentDiv,
    .sellDiv {
      cursor: pointer;
    }
    .buyDiv.buy {
      color: #12a14a;
    }
    .rentDiv.rent {
      color: #12a14a;
    }
    .sellDiv.sell {
      color: #12a14a;
    }
    .rightHead {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 0.2;
    }
    .searchDiv {
      border: solid 1px black;
      background-color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      // padding: 5px;
    }
    .searchInp {
      border: none;
      width: 75%;
      font-size: 15px;
    }
    .searchInp:focus {
      outline: 0px;
    }
    #searchIcon {
      background-color: #12a14a;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      font-size: 35px;
      cursor: pointer;
      color: white;
    }
    .selectRound {
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }
  .body {
    height: 90%;
    width: 100%;
    display: flex;
  }
  .leftBody {
    height: 100%;
    flex: 0.05;
    display: flex;
    align-items: center;
  }
  .rightBody {
    height: 100%;
    flex: 0.95;
  }
  .upDiv {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #homeIcon,
  #notifyIcon,
  #todayIcon,
  #bookMarkIcon {
    font-size: 25px;
  }
  .homeDiv,
  .notifyDiv,
  .todayDiv,
  .bookDiv,
  .logDiv {
    width: 100%;
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .homeDiv {
    border-top-right-radius: 10px;
  }
  .logDiv {
    border-bottom-right-radius: 10px;
  }
  .homeDiv.home,
  .notifyDiv.notify,
  .todayDiv.today,
  .bookDiv.book,
  .logDiv.log {
    color: white;
    background-color: #12a14a;
  }
  .homeDiv:hover,
  .notifyDiv:hover,
  .todayDiv:hover,
  .bookDiv:hover,
  .logDiv:hover {
    background-color: gray;
  }
  .bodyB {
    height: 100%;
    overflow-y: scroll;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
  .cardDiv {
    width: 30%;
    background: white;
    border-radius: 10px;
    // margin-top: 10px;
  }
  .cardImg {
    cursor: pointer;
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .cardTextDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .textLeft {
    flex: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .textRight {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .textWrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
  }
  .qarPrice {
    font-weight: 600;
  }
  // .bodyA {
  //   display: flex;
  // }
  // .leftBody {
  //   height: 100%;
  //   // height: 300px;
  //   border: solid 1px black;
  //   padding: 10px;
  // }
  // .rightBody {
  //   border: solid 1px blue;
  //   flex: 1;
  //   padding: 0px 20px;
  // }
  // .cardImg {
  //   width: 345px;
  //   height: 195px;
  //   border-top-left-radius: 10px;
  //   border-top-right-radius: 10px;
  // }
  // .bodyB {
  //   border: solid 1px blue;
  //   display: grid;
  //   // flex-wrap: wrap;
  //   gap: 10px;
  //   grid-template-columns: auto auto auto auto;
  // }
  // .cardDiv {
  //   width: 345px;
  //   background: white;
  //   border-radius: 10px;
  //   // margin-top: 10px;
  // }
  // .cardTextDiv {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 10px;
  // }
  // .textLeft {
  //   flex: 0.8;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
  // .textRight {
  //   flex: 0.2;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  // }
  // .textWrap {
  //   white-space: nowrap;
  //   width: 100%;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   color: gray;
  // }
  // .qarPrice {
  //   font-weight: 600;
  // }
  // #homeIcon,
  // #notifyIcon,
  // #todayIcon,
  // #bookMarkIcon {
  //   font-size: 25px;
  // }
  // #logOutIcon {
  //   font-size: 25px;
  // }
  // .upDiv {
  //   height: 50%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
  // .downDiv {
  //   height: 50%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  // }
}
